@charset "UTF-8";

/*Importando a letra para o site inteiro! */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0; 
    background-color: rgba(252, 241, 250, 0.5);
}

header nav .logo-temporaria {
    display: block;
}

img#logo-temporaria {
    width: 10%;
    padding-left: 2rem;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    position: absolute; 
    z-index: 3;

}

nav {
    background-color: rgba(255,255,255, 0.8);
    width: 100%;
    height: 10%;
    margin: 0;
    
}

.lista-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 1rem;
    padding-right: 2rem; */
    width: 35%;
    color: rgba(240, 128, 128, 1);
}

.problema {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center; 
}

.titulo-problema {
    margin-top: 20%;
    font-weight: bolder;
    color: rgba(240, 128, 128, 1);
    /* padding-bottom: 5%; */
    margin-top: 10%;
    margin-top: 0;
    font-size: 2rem;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.corpo-problema {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.objetivo {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    /* margin-top: 15%; */
    margin-bottom: 2%;
}

.objetivo p {
    padding: 5% 20% 5% 20%;
    text-align: justify;
    font-size: 1.1rem;
    color: #0a81d1;
}

.solucao {
    height: 100%;
    width: 101.2%;
    margin-left: -1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.titulo-solucao h1 {
    font-weight: bolder;
    color: rgba(240, 128, 128, 1);
    padding-bottom: 5%;
    padding-top: 0;
    margin-top: 0;
    font-size: 40pt;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

.box-solucao, fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img#box-imagem {
    width: 78%;
    border-radius: 5px;
}

.boxsegundo {
    width: 50%;
    height: 75%;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 6px;
    color: white;
}

.boxprimeiro {
    width: 50%;
    height: 75%;
    margin-left: 5%;
    margin-right: 3%;
    border-radius: 6px;
    color: #0a81d1;
}

.boxprimeiro h1 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    padding-top: 5%;
}

.boxprimeiro p {
    font-size: 12pt;
    text-align: justify;
    
}

.boxprimeiro p#primeiro {
    padding: 5% 10% 5% 10%;
}

.segundo {
    padding: 3% 10% 3% 10%;
}

.segundo b#caixinha {
    font-weight: bolder;
    font-size: 14pt;
}

input#mail {
    width: 100%;
    height: 8%;
    border-radius: 6px;
    border: 1px solid rgba(128,128,128,1);
    background-color: rgba(255,255,255, 0.8);
    color: black;
    text-decoration: black;
    text-align: center;
}

input#send {
    height: 10%;
}

form {
    width: 78%;
}