@charset "UTF-8";

/*Importando a letra para o site inteiro! */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway|Handlee|Hammersmith+One');

html {
    max-width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0; 
    padding: 0;
    background-color: #171717;
    max-width: 100%;
}

header nav .logo-temporaria {
    display: block;
}

p {
    font-size: 11pt;
}

h1 {
    font-size: 40pt;
}

section {
     margin: 10% 0; 
}

img#logo-temporaria {
    width: 10%;
    padding-left: 2rem;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    position: absolute; 
    z-index: 4;
}

nav {
    width: 100%;
    margin: 0;
}

.lista-menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 35%;
    margin-right: 10px;
}

li {
    color: white;
    padding-right: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 2px;
    padding: 0.2rem 1rem;
    margin: 0;
}

li:hover {
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
    background-color: rgba(255,255,255, 0.1);
    border-radius: 2px;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
            box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.espaco-slide {
    width: 100%;
    height: 100vh;
    margin-top: -10%;
    object-fit: cover;
    display: flex;
    position: relative;
    overflow: hidden;
}

.slide {
    width: 100vw;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0;
    position: absolute;
    transition: transform 20s, -webkit-transform 20s;
}

#titulo-carousel h1{
    font-family: 'Hammersmith One', sans-serif;
    color:#dddddd;
    position: absolute;
    z-index: 3;
    top: 60vh;
    width: 100%;
    text-align: center;
    font-size: 40pt;
    transition: transform 60s;
    opacity: 0;
}

.objetivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.titulo-objetivo {
    margin-top: 20%;
    font-weight: bolder;
    color: #EE4266;
    margin-top: 10%;
    margin-top: 0;
    font-size: 2rem;
}

.corpo-objetivo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; 
}

.item-objetivo {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;    
    -webkit-box-pack: start;    
        -ms-flex-pack: start;    
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.item-objetivo p {
    color: #DDDDDD;
    text-indent: 5%;
    padding: 10%;
}

.solucao {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.titulo-solucao {
    font-weight: bolder;
    color: #EE4266;
    padding-top: 0;
    margin-top: 0;
    font-size: 40pt;
}

.box-solucao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
}

fieldset {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
}

img#box-imagem {
    width: 80%;
    border-radius: 5px;
}

.email-solucao {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 30%;
    height: 75%;
    border-radius: 6px;
    color: #DDDDDD;
}

.texto-solucao {
    width: 39%;
    height: 75%;
     margin-left: 5%;     
    margin-right: 3%;
    border-radius: 6px;
    color: #DDDDDD;
}

.texto-solucao h1 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
}

.texto-solucao p {
    text-indent: 5%;
}

.mail {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: .3rem 1rem;
    border: none;
    border-radius: 3px;
}

.se-inscreva {
    margin-left: 10px;
    padding: 3px;
    color: white;
    font-weight: bolder;
} 

p.se-inscreva {
    width: 100%;
}

.mail-solucao {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.email-solucao h1 {
    text-align: center;
    width: 100%;
    font-size: 11pt;
} 

.topo-sec {
    width: 100%;
}

.email-carousel {
    background-color: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 78vh;
    width: 98%;
    margin: 0;
    position: absolute;
}

.send-email {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.email-carousel h1 {
    width: 100%;
    text-align: center;
    font-size: 14pt;
    color: white;
    background-color: none;
}
 
.email-solucao-fieldset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
} 

.curtidas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #dddddd;
    width: 100%;
    height: 100%;
    font-size: 9pt;
}

.corpo-curtidas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding-left: 5%;
    box-sizing: border-box;
}

.titulo-curtidas {
    font-weight: bolder;
    color: #EE4266;
    padding: 0;
    margin: 0;
    font-size: 30pt;
    text-align: center;
}

.curtidas h1 {
    font-weight: bolder;
    font-family: 'Hammersmith One', sans-serif;
    color: #EE4266;
    padding: 0;
    margin: 0;
    font-size: 180pt;
    text-align: center;
}


.curtidas h6 {
    font-size: 15pt;
    margin: 0;
}

h2#botao-curtida {
    background-color: #EE4266;
    width: 45%;
    text-align: center;
    border-radius: 5px;
    padding: 18px 0;
    margin-top: 7%;
    text-transform: uppercase;
}

.texto-curtidas-numero {
    width: 35%;
    text-align: center;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.texto-curtidas-participe {
    width: 30%;
    text-align: center;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.depoimentos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.item-depoimento {
    width: 500px;
    height: 100%;
}

.texto-depoimento {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 3%;
    width: 334px;
    height: 380px;
    color: white;
    border-radius: 2px;
    background-color: rgba(255,255,255, 0.5);
}


.topo-depoimento {
    width: 100%;
    height: 100px;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    background-color: rgba(0,0,0,0.5);
}

.corpo-depoimento {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: 280px;
    margin: 0;
}

.depoimento {
    color: white;
    background-color: rgba(255,255,255, 0.5);
    margin: 0;
    border-radius: 1%;
    width: 60%;
    display: none;  
    position: relative;
    margin: 30px;
    padding: 30px;    
}

.close {
    font-style: bolder;
    position: absolute;
    right: 2%;
    margin-top: -10px;
    color: #EE4266;
    cursor: pointer;
    font-size: 12pt;
}

.leia-mais {
    width: 64px; 
    height: 33px; 
    background: #EE4266;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;    
}

.leia-mais h6 {
    text-align: center;
    font-size: 8pt;
    margin: 0;
}

.imagem-dep {
    width: 100%;
    text-align: center;
}

.imagem-depoimento {
    width: 90px;
    height: 90px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 4%;
    margin-bottom: -4%;
}

.imagem-depoimento-aberto {
    width: 60px;
    height: 60px;
}

img#dots {
    width: 5%;
    position: absolute;
    right: 30px;
    bottom: 40px;
}

.titulo-depoimentos {
    font-weight: bolder;
    color: #EE4266;
    padding: 0;
    margin-bottom: 2%;
    font-size: 40pt;
    text-align: center;
}

.texto-depoimento p {
    padding-right: 5%;
    padding-left: 5%;
    text-indent: 5%;
    margin-top: 0;
}

.texto-depoimento h1 {
    font-size: 12pt;  
    padding-left: 3%; 
    margin: 0;
    color: #EE4266;
}

.texto-depoimento h3 {
    font-size: 9pt;
    padding-left: 3%;
    width: 100%;
    margin-top: 3px;
}

.box-carousel2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

@media (max-width: 700px) {
    p {
        font-size: 8pt;
    }

    header {
        width: 150%;
        height: 50%;
    }

    ul li {
        font-size: 6pt;
    }

    a {
        padding: 0;
    }

    h1 {
        font-size: 20pt;
    }

    .send-email {
        margin: 0;
    }

    #titulo-carousel h1 {
        top: 57vh;
        font-size: 20pt;
        color: white;
    }

    img#logo-temporaria {
        width: 13%;
    }

    .email-carousel h1 {
        font-size: 11pt;
    }

    input#mail-c {
        margin-left: 5%;
    }


    .titulo-depoimentos, .titulo-curtidas, .titulo-solucao {
        font-size: 20pt;
    }

    .texto-solucao {
        font-size: 13pt;
    }

    .item-objetivo {
        width: 100%;
        margin: 0;
    }

    .depoimentos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }  
    
    .texto-solucao h1 {
        font-size: 13pt;
    }

    .item-depoimento {
        width: 80%;
        height: 100%;
    }

    .depoimento-carol {
        width: 70%;
        height: 100%;
    }

    .depoimento-lari {
        width: 70%;
        height: 100%;
    }

    .depoimento-clara {
        width: 70%;
        height: 100%;
    }

    .close {
        right: 14%;
        margin-top: -3%;
    }

    .lista-menu {
        font-size: 4pt;
    }


    .corpo-objetivo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; 
    }

    .corpo-curtidas {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .texto-curtidas-participe {
        width: 100%;
    }

    .texto-curtidas-numero {
        width: 100%;
        margin: 5%;
    }

    .box-solucao {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .texto-solucao {
        width: 80%;
        height: 75%;
        margin-left: 5%;
    }

    .email-solucao {
        width: 100%;
        height: 75%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    h1#email-tit {
        font-size: 9pt;
    }

    h2#botao-curtida {
        font-size: 13pt;
    }

    .curtidas h6 {
        font-size: 10pt;
    }

    .curtidas h1 {
        font-size: 110pt;
    }

    img#condom, img#together {
        width: 20%;
    }

    .sec-topo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .slide {
      display: block;
      width: 100%; 
      height: 50vh;
      margin-bottom: -11.5%;
    }

    .texto-depoimento p {
        font-size: 9pt;
    }

    .email-carousel {
        top: 73vh;
    }
}

@media (min-width: 701px) and (max-width: 1024px) {
    body{
        width: 100%;
    }

    p {
        font-size: 9pt;
    }

    header {
        width: 100%;
        height: 50%;
    }

    .owl-carousel .owl-item img {
        height: 300px;
    }

    h1 {
        font-size: 30pt;
    }

    img#logo-temporaria {
        width: 13%;
    }

    h1#email-section {
        font-size: 11pt;
    }

    input#mail-c {
        margin-left: 5%;
    }


    .titulo-depoimentos, .titulo-curtidas, .titulo-solucao {
        font-size: 30pt;
    }

    .texto-solucao h1 {
        font-size: 15pt;
    }

    .depoimentos {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .item-depoimento {
        width: 40%;
        height: 100%;
    }

    .depoimento-carol {
        width: 70%;
        height: 100%;
    }

    .depoimento-lari {
        width: 70%;
        height: 100%;
    }

    .depoimento-clara {
        width: 70%;
        height: 100%;
    }

    .close {
        right: 14%;
        margin-top: -1%;
    }

    .lista-menu {
        font-size: 8pt;
    }


    .corpo-objetivo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; 
    }

    .box-solucao {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .texto-solucao {
        width: 80%;
        height: 75%;
        margin-left: 5%;
    }

    .email-solucao {
        width: 100%;
        height: 75%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    h1#email-tit {
        font-size: 11pt;
    }

    h2#botao-curtida {
        font-size: 13pt;
    }

    .curtidas h6 {
        font-size: 10pt;
    }

    .curtidas h1 {
        font-size: 130pt;

    }

    img#condom, img#together {
        width: 20%;
    }

    #titulo-carousel h1{ 
        font-size: 35pt;
    }

    .send-email {
        margin: 0;
    }
}