@charset "UTF-8";

/*Importando a letra para o site inteiro! */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');
@import url('https://fonts.googleapis.com/css?family=Handlee');

body {
    font-family: 'Raleway', sans-serif;
    margin: 0; 
    background-color: #171717;
}

header nav .logo-temporaria {
    display: block;
}

p {
    font-size: 11pt;
}

h1 {
    font-size: 40pt;
}

img#logo-temporaria {
    width: 10%;
    padding-left: 2rem;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    position: absolute; 
    z-index: 4;

}

nav {
    background-color: rgba(255,255,255, 0.8);
    width: 100%;
    height: 10%;
    margin: 0;
    
}

.lista-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 35%;
    color: rgba(240, 128, 128, 1);
}

.titulo {
    font-family: 'Handlee', cursive;
    color:#dddddd;
    position: absolute;
    z-index: 3;
    top: 39%;
    left: 13%;
    font-size: 20pt;
}

.problema {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center; 
}

.titulo-problema {
    margin-top: 20%;
    font-weight: bolder;
    color: #EE4266;
    margin-top: 10%;
    margin-top: 0;
    font-size: 2rem;
}

.corpo-problema {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
}

.objetivo {
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    /* margin-top: 15%; */
    margin-bottom: 2%;
}

.objetivo p {
    padding: 5% 10% 5% 10%;
    color: #DDDDDD;
    text-indent: 5%;
}

.solucao {
    height: 100%;
    width: 101.2%;
    /* margin-left: -1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-solucao {
    font-weight: bolder;
    color: #EE4266;
    padding-bottom: 5%;
    padding-top: 0;
    margin-top: 0;
    font-size: 40pt;
}

.box-solucao, fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

img#box-imagem {
    width: 78%;
    border-radius: 5px;
}

.boxsegundo {
    width: 50%;
    height: 75%;
     margin-left: 5%; 
    margin-right: 3%;
    border-radius: 6px;
    color: #DDDDDD;
}

.boxprimeiro {
    width: 50%;
    height: 75%;
     margin-left: 5%;     
    margin-right: 3%;
    border-radius: 6px;
    color: #DDDDDD;
}

.boxprimeiro h1 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    /* padding-top: 5%; */
}

.boxprimeiro p#primeiro {
    /* padding: 5% 10% 5% 10%; */
    text-indent: 5%;
}

.segundo {
    /* padding: 3%   10% 3% 10%; */
    text-indent: 5%;
}

.segundo b#caixinha {
    font-weight: bolder;
    font-size: 10pt;
}

fieldset#box-mail {
    width: 78%;
    height: 100%;
    text-decoration: black;
    text-align: center;
    margin: 0;
    padding: 0;
}

input#mail {
    width: 100%;
    height: 100%;
    text-align: center;
}

fieldset#fiel-topo {
    width: 100%;
    background-color: rgba(255,255,255, 0.7);
    border: none;
    margin: 0; 
    padding: 0; 
}

input#mail-c {
    width: 25%;
    margin-left: 10%;
    padding: 0;
    text-align: center;
    height: 21px;
    border-radius: 7px;
}

.sec-topo form{
     width: 100%; 
}

.mail-02 {
    background-color: rgba(255,255,255, 0.7);
    width: 78%;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.mail-02 form {
    width: 50%;
    border: none;
}

fieldset#box-mail {
    width: 100%;
    border: none;
    margin-top: 5px; 
    padding: 0; 
}

input#mail {
    width: 90%;
    border-radius: 5px;
}

h1#email-tit {
    color: white;
    text-align: center;
    width: 78%;
    font-size: 11pt;
    padding: 0;
    margin: 0;
}

.sec-topo {
    background-color: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sec-topo h1 {
    font-size: 14pt;
    color: white;
    background-color: none;
}


.curtidas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #dddddd;
    width: 100%;
    height: 100%;
}

.corpo-curtidas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titulo-curtidas, #numero {
    font-weight: bolder;
    color: #EE4266;
    padding: 0;
    margin-bottom: 2%;
    font-size: 40pt;
    text-align: center;
}

.curtidas h6 {
    font-size: 15pt;
    margin: 0;
}

h2#botao-curtida {
    background-color: rgba(240, 128, 128, 1);
    width: 40%;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
}

.text-curtidas {
    width: 50%;
    text-align: center;
    margin: 0;
}


.depoimentos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item-d {
    width: 100%;
    height: 100%;
}
.dep-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem; 
}

.depoimento-carol {
    color: white;
    background-color: rgba(255,255,255, 0.7);
    margin: 0;
    border-radius: 1%;
    width: 1200px;
    height: 400px;
    display: none;  
    margin: 30px;
    padding: 30px;
}

.depoimento-lari {
    color: white;
    background-color: rgba(255,255,255, 0.7);
    margin: 0;
    border-radius: 1%;
    width: 1200px;
    height: 400px;
    display: none;  
    margin: 30px;
    padding: 30px;    
}

.depoimento-clara {
    color: white;
    background-color: rgba(255,255,255, 0.7);
    margin: 0;
    border-radius: 1%;
    width: 1200px;
    height: 400px;
    display: none;  
    margin: 30px;
    padding: 30px;
}

.close {
    font-style: bolder;
    position: absolute;
    right: 60px;
    margin-top: -20px;
    color: black;
    cursor: pointer;
}

.leia-mais {
    width: 25%;
    height: 10%;
    background: #DD6273;
    border-radius: 3px;
    cursor: pointer;
}

.leia-mais p {
    text-align: center;
    margin-top: 8px;
}

img#problema-01 {
    width: 20%;
    padding: 3%;
    margin: 0;
}
img#problema-02 {
    width: 20%;
    padding: 3%;
    margin-left: 2%;
}

img#problema-03 {
    width: 20%;
    padding: 3%;
    margin-left: 2%;
}

img#dots {
    width: 5%;
    position: absolute;
    right: 30px;
    bottom: 40px;
}

.titulo-depoimentos {
    font-weight: bolder;
    color: #EE4266;
    padding: 0;
    margin-bottom: 2%;
    font-size: 40pt;
    text-align: center;
}

.dep-text p {
    padding-right: 5%;
    padding-left: 5%;
    text-indent: 5%;
}

.dep-text h1 {
    font-size: 12pt;  
    padding-left: 3%; 
    width: 90%;
}

.dep-text h3 {
    font-size: 10pt;  
    padding-left: 3%; 
    width: 100%;
    margin-top: 0;
}

.dep-text {
    color: white;
    background-color: rgba(255,255,255, 0.7);
    margin: 3%;
    border-radius: 1%;
}

.box-carousel2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.titulos-dep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}


@media (max-width: 425px) {
    body{
        width: 100%;
    }

    p {
        font-size: 8pt;
    }

    header {
        width: 150%;
        height: 50%;
    }

    .owl-carousel .owl-item img {
        height: 300px;
    }

    h1 {
        font-size: 15pt;
    }

    h1#email-section {
        font-size: 8pt;
    }

    input#mail-c {
        margin-left: 5%;
    }


    .titulo-depoimentos, .titulo-curtidas, h1#MTFA-solucao, .titulo-solucao {
        font-size: 15pt;
    }

    .depoimentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-d {
        width: 80%;
        height: 100%;
        /* margin: 0; */
    }

    .depoimento-carol {
        width: 70%;
        height: 100%;
        /* margin-left: 50px; */
    }

    .depoimento-lari {
        width: 70%;
        height: 100%;
        /* margin-left: 50px; */
    }

    .depoimento-clara {
        width: 70%;
        height: 100%;
        /* margin-left: 50px; */
    }

    .close {
        right: 40px;
        margin-top: -20px;
    }

    .lista-menu {
        font-size: 4pt;
    }


    .corpo-problema {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; 
    }

    .box-solucao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .boxprimeiro {
        width: 80%;
        height: 75%;
        margin-left: 5%;
    }

    .boxsegundo {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1#email-tit {
        font-size: 9pt;
    }

    h2#botao-curtida {
        font-size: 10pt;
        padding: 5px;
        margin-left: 5%;
    }

    .curtidas h6 {
        font-size: 10pt;
    }

    h1#numero {
        font-size: 12pt;
    }

    img#condom, img#together {
        width: 20%;
    }
}

@media (min-width: 426px) and (max-width: 1024px) {
    body{
        width: 100%;
    }

    p {
        font-size: 12pt;
    }

    header {
        width: 150%;
        height: 50%;
    }

    .owl-carousel .owl-item img {
        height: 300px;
    }

    h1 {
        font-size: 20pt;
    }

    h1#email-section {
        font-size: 11pt;
    }

    input#mail-c {
        margin-left: 5%;
    }


    .titulo-depoimentos, .titulo-curtidas, h1#MTFA-solucao, .titulo-solucao {
        font-size: 15pt;
    }

    .depoimentos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-d {
        width: 80%;
        height: 100%;
        /* margin: 0; */
    }

    .depoimento-carol {
        width: 70%;
        height: 100%;
        /* margin-left: 50px; */
    }

    .depoimento-lari {
        width: 70%;
        height: 100%;
        /* margin-left: 50px; */
    }

    .depoimento-clara {
        width: 70%;
        height: 100%;
        /* margin-left: 50px; */
    }

    .close {
        right: 40px;
        margin-top: -20px;
    }

    .lista-menu {
        font-size: 8pt;
    }


    .corpo-problema {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
    }

    .box-solucao {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .boxprimeiro {
        width: 80%;
        height: 75%;
        margin-left: 5%;
    }

    .boxsegundo {
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1#email-tit {
        font-size: 11pt;
    }

    h2#botao-curtida {
        font-size: 11pt;
        padding: 5px;
        margin-left: 5%;
    }

    .curtidas h6 {
        font-size: 10pt;
    }

    h1#numero {
        font-size: 12pt;
    }

    img#condom, img#together {
        width: 20%;
    }

    .titulo {
        top: 500px;
        left: 30%;
    }
}
