@charset "UTF-8";

/*Importando a letra para o site inteiro! */
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Raleway');

body {
    font-family: 'Raleway', sans-serif;
}

header nav .logo-temporaria {
    display: block;
}

img#logo-temporaria {
    width: 10%;
    padding-left: 2rem;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;   
    position: fixed; 
}
.lista-menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-right: 2rem;
    width: 35%;
    color: rgba(240, 128, 128, 1);
    background-color: rgba(255,255,255, 0.1);
}


